*.pyc
*.pyo

input/stim/free_association/fa.egg-info/top_level.txt

input/stim/free_association/fa.egg-info/SOURCES.txt

input/stim/free_association/fa.egg-info/PKG-INFO

input/stim/free_association/fa.egg-info/dependency_links.txt

*-checkpoint.ipynb

output/results
*.html

*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz

scripts/.Rhistory
